@use "@/styles/fonts/font.scss" as *;

:root {
  color-scheme: light dark;
  font-family: $font-family;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
  &:active {
    outline: none;
  }
}
