@use "@/styles/tokens/paddings.scss" as *;
@use "@/styles/colors/light.scss" as light;
@use "@/styles/colors/dark.scss" as dark;

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $padding-10;
  min-height: 100vh;
  background-color: light-dark(
    light.$md-sys-color-background,
    dark.$md-sys-color-background
  );

  .title {
    color: light-dark(light.$md-sys-color-primary, dark.$md-sys-color-primary);
  }

  .subtitle {
    color: light-dark(
      light.$md-sys-color-on-background,
      dark.$md-sys-color-on-background
    );
  }
}
